# server configuration
# Env value : production || staging || development
APP_ENV=development
APP_PORT=8080
API_KEY=API_KEY

# database configuration
DB_HOST=localhost # docker-compose service name or localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=123456
DB_NAME=hc_ppn_app

# JWT
JWT_SECRET_KEY=thisisasamplesecret
JWT_EXP_TIME=8h

# WhatsApp Bot configuration
BOT_ENABLED=true
BOT_DB_PATH=data/whatsapp.db
