@import "tailwindcss";
@import "tw-animate-css";

/** Dark Mode Variant **/
@custom-variant dark (&:is(.dark *));

/** Colors **/
:root {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --background: var(--color-white);
  --foreground: var(--color-zinc-900);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-900);
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-900);
  --primary: var(--color-zinc-800);
  --primary-foreground: var(--color-zinc-50);
  --secondary: --alpha(var(--color-black) / 4%);
  --secondary-foreground: var(--color-zinc-900);
  --muted: --alpha(var(--color-black) / 4%);
  --muted-foreground: var(--color-zinc-600);
  --accent: --alpha(var(--color-black) / 4%);
  --accent-foreground: var(--color-zinc-900);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-700);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: --alpha(
    var(--color-black) / 10%
  ); /* between --color-zinc-100 and --color-zinc-200 */
  --input: --alpha(var(--color-black) / 10%);
  --ring: var(--color-zinc-400);
  --radius: 0.5rem;
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
}

.dark {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-100);
  --card: color-mix(in srgb, var(--color-zinc-900) 80%, var(--color-zinc-950));
  --card-foreground: var(--color-zinc-100);
  --popover: var(--color-zinc-900);
  --popover-foreground: var(--color-zinc-100);
  --primary: var(--color-zinc-100);
  --primary-foreground: var(--color-zinc-900);
  --secondary: --alpha(var(--color-white) / 8%);
  --secondary-foreground: var(--color-zinc-100);
  --muted: --alpha(var(--color-white) / 8%);
  --muted-foreground: var(--color-zinc-400);
  --accent: --alpha(var(--color-white) / 8%);
  --accent-foreground: var(--color-zinc-100);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-400);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: --alpha(var(--color-white) / 12%);
  --input: --alpha(var(--color-white) / 12%);
  --ring: var(--color-zinc-500);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
}

/** Theme Setup **/
@theme inline {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  --animate-skeleton: skeleton 2s -1s infinite linear;
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --secondary: var(--secondary);
  --muted: var(--muted);
  --input: var(--input);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --border: var(--border);
  --accent: var(--accent);

  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }
}

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/** Custom Scrollbar **/
@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}

/** Custom Container **/
@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    padding-inline: 2rem;
    max-width: 1440px;
  }
}

/** Smooth scroll **/
html {
  scroll-behavior: smooth;
}

/*---break---*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
